html {
    size: 100%, 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: white;
}

.topnav {
    width: 100%;
    height: 3rem;
    background-color: #ec5d39;
    margin: 0;
}

.navElements{
    margin: auto;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: min-content;
}

.navElements a {
    color: #ffffff;
    padding-top: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    height: 2.5rem;
    width: 11rem;
    transition: background-color 300ms ease;
}

.navElements  a:hover {
    background-color: #d84621;
}

.nomeRistorante{
    margin: auto;
    width: max-content;
}

.titolo{
    text-align: center;
    font-size: 6rem;
}

.categoriaContainer{
    display: flex;
    margin: auto;
    width: max-content;
}

.categoria{
    padding-right: 3rem;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.categoria > a{
    color: black;
    text-decoration: none;
}

.categoria :hover{
    cursor: pointer;
    color:#d84621
}

.intestazioneSezione{
    text-align: center;
    color: #363636;
}

.pietanza{
    display: flex;
    border-radius: 4px;
    padding: 3rem, 3rem, 3rem, 3rem;
    width: 80%;
    margin: auto;
}

.imgPiatto{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    width: 20rem;
}

.sezioneContatti{
    margin: auto;
    margin-top: 3rem;
    text-align: center;
    font-size: 1.8rem;
    color: black;
    width: max-content;
}

.listaContatti{
    text-align: left;
}

.socialContainer{
    display: flex;
    margin: auto;
    width: min-content;
    height: 3rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.socialContainer > a{
    width: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.socialContainer > a > img{
    height: 100%;
}

.qtaPietanze{
    display: flex;
    flex-direction: down;
    width: fit-content;
    margin: auto;
    border: none;
    color:black;
    margin-right: 0;
    font-size: 2rem;
}
.qtaPietanze > input{
    margin-left: 0.5rem;
    border: none;
    width: 5rem;
    font-size: 2rem;
    border-bottom: 1px solid #f64e24;
    background: transparent;
    outline: none;
}

input[type="submit"]{
    border: none;
    outline: none;
    height: 6rem;
    background: #f64e24;
    color: white;
    font-size: 3rem;
    border-radius: 4rem;
    transition: all 500ms ease;
    width: 40%;
    display: block;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

input[type="submit"]:hover{
    cursor: pointer;
    background: #fb3200;
}

.sezionePersone{
    margin: auto;
    margin-bottom: 6rem;
}

.personeOrdinanti{
    color: #626262;
    width: 15%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #f64e24;
    background: transparent;
    outline: none;
    height: 40px;
    display: block;
    margin: auto;
    font-size: 2rem;
    text-align: center;
}

.descrizione{
    font-size: 1.5rem;
}

.nTavolo{
    margin: auto;
    position: relative;
    align-items: center;
}

.nTavolo a {
    color: #ffffff;
    padding-top: 0.5rem;
    text-align: center;
    font-size: 4rem;
    text-decoration: none;
    height: 2.5rem;
    width: 100%;
    transition: background-color 300ms ease;
    display: block;
    margin: auto;
}

.topnavOrd {
    width: 100%;
    height: 5rem;
    background-color: #ec5d39;
    margin: 0;
}

.sottoTitolo{
    text-align: center;
    font-size: 2rem;
}